迈向 [C]迈 [C]向 v
充满 [C]充 [C]满 v
希望 [C]希 [C]望 n
的 [C]的 u
新 [C]新 a
世纪 [C]世 [C]纪 n
—— [C]— [C]— w
一九九八年 [C]一 [C]九 [C]九 [C]八 [C]年 t
新年 [C]新 [C]年 t
讲话 [C]讲 [C]话 n
( [C]( w
附 [C]附 v
图片 [C]图 [C]片 n
1 [C]1 m
张 [C]张 q
) [C]) w

中共中央 [C]中 [C]共 [C]中 [C]央 nt
总书记 [C]总 [C]书 [C]记 n
、 [C]、 w
国家 [C]国 [C]家 n
主席 [C]主 [C]席 n
江 [C]江 nr
泽民 [C]泽 [C]民 nr

( [C]( w
一九九七年 [C]一 [C]九 [C]九 [C]七 [C]年 t
十二月 [C]十 [C]二 [C]月 t
三十一日 [C]三 [C]十 [C]一 [C]日 t
) [C]) w

12月 [C]1 [C]2 [C]月 t
31日 [C]3 [C]1 [C]日 t
, [C], w
中共中央 [C]中 [C]共 [C]中 [C]央 nt
总书记 [C]总 [C]书 [C]记 n
、 [C]、 w
国家 [C]国 [C]家 n
主席 [C]主 [C]席 n
江 [C]江 nr
泽民 [C]泽 [C]民 nr
发表 [C]发 [C]表 v
1998年 [C]1 [C]9 [C]9 [C]8 [C]年 t
新年 [C]新 [C]年 t
讲话 [C]讲 [C]话 n
《 [C]《 w
迈向 [C]迈 [C]向 v
充满 [C]充 [C]满 v
希望 [C]希 [C]望 n
的 [C]的 u
