出席 [C]出 [C]席 v
世界 [C]世 [C]界 n
经济 [C]经 [C]济 n
论坛 [C]论 [C]坛 n
年会 [C]年 [C]会 n
并 [C]并 c
访问 [C]访 [C]问 v
欧洲 [C]欧 [C]洲 ns
李 [C]李 nr
岚清 [C]岚 [C]清 nr
离 [C]离 v
京 [C]京 j
抵 [C]抵 v
瑞士 [C]瑞 [C]士 ns

新华社 [C]新 [C]华 [C]社 nt
达沃斯 [C]达 [C]沃 [C]斯 ns
( [C]( w
瑞士 [C]瑞 [C]士 ns
) [C]) w
1月 [C]1 [C]月 t
31日 [C]3 [C]1 [C]日 t
电 [C]电 n
( [C]( w
记者 [C]记 [C]者 n
陈 [C]陈 nr
维斌 [C]维 [C]斌 nr
、 [C]、 w
严 [C]严 nr
明 [C]明 nr
) [C]) w
应 [C]应 v
世界 [C]世 [C]界 n
经济 [C]经 [C]济 n
论坛 [C]论 [C]坛 n
主席 [C]主 [C]席 n
施瓦布 [C]施 [C]瓦 [C]布 nr
的 [C]的 u
邀请 [C]邀 [C]请 vn
, [C], w
中国 [C]中 [C]国 ns
国务院 [C]国 [C]务 [C]院 nt
副 [C]副 b
总理 [C]总 [C]理 n
李 [C]李 nr
岚清 [C]岚 [C]清 nr
31日 [C]3 [C]1 [C]日 t
下午 [C]下 [C]午 t
抵达 [C]抵 [C]达 v
瑞士 [C]瑞 [C]士 ns
